 *{
  margin: 0;
  padding: 0;
 }


 body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 50px;
 }

 div.image {
  display: flex;
  flex-direction: column;
  /* width: auto;
  height: auto; */
 }

 div.inner-image-div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
  /* height: auto; */
 }

 div.sec {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
  position: relative;
  flex-grow: 1;
 }


 

 div.sec img {
  width: 100%;
 }

 div.sec p {
  position: absolute;
  bottom: 15px;
  left: 15px;
 
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24.2px;
  font-weight: 500;
 }

 footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #0e0e0e;
 
 }




 footer p {
  display: flex;
  align-items: center;
  margin: 0 15px;
 }

