*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: "Source Sans Pro", sans-serif;
 margin-bottom: 50px;
}

div .parent-container{
 display: flex;
 flex-direction: column;
 width: auto;
 height: auto;
}

 div p{
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-transform: uppercase;
  font-size: 12px;
 }

div .inner-container{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: auto;
}

  div .images{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 flex-grow: 1;
 position: relative;

}

img{
 
 width: 100%;
}

/*                     ...........FOOTER...............                 */
footer{
 height: 50px;
 width: 100%;
 background: #0E0E0E;
 color: white;
 text-transform: uppercase;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 bottom: 0;
}

a{
 text-decoration: none;
 color: white;
}

footer p{
 display: flex;
 align-items: center;
 margin: 0 15px;
 text-transform: uppercase;
 font-size: 16px;
}