*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 max-width: 100%;
}

body{
 font-family: Roboto, sans-serif;
}

#background{
 background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./bg.jpeg');
 width: 100vw;
 min-height: 100vh;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
}

.main{
 margin-top: 50px;
 padding-left: 56px;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.main h1{
 color: white;
 font-size: 54px;
 margin-bottom: 2rem;
}

.main p{
 color: rgba(192, 192, 192, 0.715);
 font-size: 22px;
 margin-bottom: 2rem;
 line-height: 30px;
 
}


.form .email{
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 7rem;
 border: 2px solid rgba(192, 192, 192, 0.712);
 background: black;
 font-size: 16px;
 font-weight: 500;
 border-radius: 10px;
 margin-right: 10px;
 color: white;
}

.form button{
 height: 45px;
 width: 90px;
 background-color: #1cb495;
 border-radius: 10px;
 border: none;
 color: white;
 font-weight: 700;
}

.main span{
 border-bottom: 1px dotted;
}

footer{
 padding-left: 56px;
 display: flex;
 justify-content: flex-end;
 margin-bottom: 50px;
 flex-direction: column;
}

footer a{
 text-decoration: none;
}

footer i{
 font-size: 22px;
 color: rgba(192, 192, 192, 0.484);
 padding: 10px;
}

.content {
 color: rgba(192, 192, 192, 0.646);
 opacity: .5;
 font-size: 14px;
}

@media  screen and (max-width: 450px) {
 .email{
margin-bottom: 20px;
 }
}